.register .nav-tabs .nav-link:hover{
    border: none;
}
.text-align{
    margin-top: -3%;
    margin-bottom: -9%;

    padding: 10%;
    margin-left: 30%;
}
.form-new{
    margin-right: 22%;
    margin-left: 20%;
}
.register-heading{
    text-align: center;
    margin-bottom: 10%;
    color: #e9ecef;
}
.register-heading h1{
    margin-left: 21%;
    margin-bottom: 10%;
    color: #e9ecef;
}
.register{
    background: -webkit-linear-gradient(left, #055a4f, #00c6ff);
    margin-top: 3%;
    padding: 3%;
    border-radius: 2.5rem;
}
.btnSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    color: #fff;
    background-color: #03612e;
    border: none;
    cursor: pointer;
    margin-right: 6%;
    color: rgb(246, 246, 252);
    margin-top: 4%;
}
.question-page{
  display:none;
}
.question-page.active{
  display:flex;
  flex-direction: column;
}
.options-section{
  display:flex;
  flex-wrap: wrap;
}
.radiobutton{
  margin:10px;
}
.option{
  display:flex;
  color:white;
  background-color: black;
  width:45%;
  border-radius:5px;
  padding:15px 15px;
  margin:5px auto;
}
.option h3{
  font-size: 1.8vw;
}
.option input{
  cursor:pointer;
}
.tab-pane button{
  position:relative;
  left:50%;
  transform:translateX(-50%);
}
.thank-you{
  display:none;
}
.thank-you.active{
  display:flex;
}
#chosen-option{
  font-weight: bold;
  font-style: italic;
}
