*{
  box-sizing: border-box;
}
body{
  background-image: url("body_bg.png");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}
.top-right-img{
  position:absolute;
  width:95%;
  height:auto;
  top:30px;
  right:0px;
  z-index:-1;
  opacity:0.3;
}
.bottom-left-img{
  position:absolute;
  width:70%;
  height:auto;
  top:1800px;
  left:0px;
  z-index:-1;
  opacity:0.3;
}
nav{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  padding:8px 10px;
}
nav ul{
  display:flex;
  justify-content: space-around;
  list-style: none;
  align-items: center;
  width:100%;
  padding-left:0;
}
nav ul li{
  font-family: 'Playfair Display', serif;
  font-weight: bolder;
}
nav ul li a{
  text-decoration: none !important;
  color: #46514d;
  font-size: 1.5vw;
  font-weight: bold;
}
ul img{
  width:300px;
  height:auto;
}
.wrapper-1{
  width:80%;
  display:flex;
  margin:120px auto;
  position:relative;
  height:auto;
  box-shadow: 5px 5px 5px #1e1e1e;
}
.wrapper-1 img{
  width:100%;
  height:auto;
  position:relative;
}
.wrapper-1 .sub-div{
  position:absolute;
  width:80%;
  top:45%;
  transform:translateY(-50%);
  margin:0px 10%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  font-family: 'Playfair Display', serif;
}
.wrapper-1 .sub-div h1{
  font-size: 6vw;
  color: #305f6f;
  margin-bottom:30px;
}
.wrapper-1 .sub-div button{
  padding:15px 40px;
  font-size: 3vw;
  letter-spacing: 2px;
  color:#e7e7e7;
  background-color: black;
  border:0;
}
.wrapper-2{
  background-color: #011043;
  color:#e7e7e7;
  width:80%;
  padding:30px 60px;
  display:flex;
  flex-direction: column;
  align-items: center;
  margin:50px auto;
  font-family: 'Playfair Display', serif;
  position:relative;
  height:auto;
  box-shadow: 5px 5px 5px #1e1e1e;
}
.wrapper-2 h2{
  font-size: 3.5vw;
  margin-bottom: 30px;
}
.wrapper-2 p{
  font-size: 2vw;
  letter-spacing: 2px;
  margin-bottom:20px;
}
.wrapper-2 button{
  padding:12px 50px;
  background-color:green;
  color:#e7e7e7;
  border:0;
  font-size: 1.8vw;
  letter-spacing: 2px;
  width:auto;
}
.wrapper-3{
  display:flex;
  width:80%;
  margin:100px auto;
  align-items: center;
  height:auto;
  flex-wrap: wrap;
}
.sub-div-1{
  z-index:1;
  display:flex;
  flex-direction: column;
  align-items: center;
  width:50%;
  padding:20px 60px;
  justify-content: center;
  background-color:rgba(250,250,250,0.4);
}
.sub-div-2{
  display:flex;
  height:auto;
  width:50%;
  box-shadow: 5px 5px 5px #1e1e1e;
}
.sub-div-2 img{
  width:100%;
  height:auto;
}
.sub-div-1 h3{
  font-size: 2.2vw;
  margin-bottom:30px;
}
.sub-div-1 p{
  font-size: 1.6vw;
  margin-bottom:30px;
  font-weight: 500;
}
.sub-div-1 button{
  padding:10px 50px;
  font-size: 1.6vw;
  font-family: 'Playfair Display', serif;
  border:0;
  color:#e7e7e7;
  background-color: black;
}
.wrapper-4{
  display:flex;
  width:80%;
  margin:100px auto;
  align-items: center;
  height:auto;
  flex-wrap: wrap;
}
.wrapper-5{
  display:flex;
  width:80%;
  margin:100px auto;
  align-items: center;
  height:auto;
  flex-wrap: wrap;
}
.wrapper-6{
  display:flex;
  width:80%;
  margin:100px auto;
  align-items: center;
  height:auto;
  flex-wrap: wrap;
}
.wrapper-7{
  display:flex;
  width:80%;
  margin:100px auto;
  align-items: center;
  height:auto;
  flex-wrap: wrap;
}
.wrapper-8{
  display:flex;
  width:80%;
  margin:100px auto;
  align-items: center;
  height:auto;
  flex-wrap: wrap;
}
.sub-div-3{
  width:100%;
  display:flex;
  flex-direction: column;
  height:0.1;
  font-size: 0px;
  margin:0;
  padding:0;
  background-color:rgba(250,250,250,0.5);
  transition:height 1s ease-in-out 1s, font-size 0.4s ease-in-out;
}
.sub-div-3 p{
  margin:0;
  font-size: 0px;
  height:0.1;
  transition:font-size 0.4s ease-in-out;
}
.sub-div-3 ul{
  height:0.1;
  font-size: 0px;
  transition:font-size 0.4s ease-in-out;
  margin:0;
}
.sub-div-3 h4{
  height:0.1;
  font-size: 0;
  margin:0;
  transition:font-size 0.4s ease-in-out;
}
.sub-div-3.active h4{
  font-size: 2.5vw;
  height:auto;
  margin-bottom:20px;
}
.sub-div-3.active{
  margin:20px 0;
  height:auto;
  padding:20px 60px;
}
.sub-div-3.active ul{
  font-size: 1.5vw;
  margin-bottom:20px;
  height:auto;
}
.sub-div-3.active p{
  font-size: 1.4vw;
  height:auto;
  margin-bottom:20px;
}
.right ul:first-child{
  margin-left:65%;
}
footer{
  padding:15px 30px;
  align-items: center;
  display:flex;
  border-top:2px solid white;
}
.social-links{
  display:flex;
  width:auto;
  margin-bottom:0;
  align-items: center;
}
.social-links li{
  list-style: none;
  margin-right:30px;
}
.social-links li a{
  text-decoration: none;
  color:#e7e7e7;
}
footer h6{
  color:#e7e7e7;
  margin-right: 20px;
  margin-left: auto;
}
@media(min-width:768.1px) and (max-width:992px){
  ul img{
    width:230px;
  }
  nav ul li a {
    font-size: 1.8vw;
  }
  .wrapper-1{
    width:85%;
  }
  .wrapper-2{
    width:85%;
  }
  .wrapper-3{
    width:85%;
  }
  .wrapper-4{
    width:85%;
  }
  .wrapper-5{
    width:85%;
  }
  .wrapper-6{
    width:85%;
  }
  .wrapper-7{
    width:85%;
  }
  .wrapper-8{
    width:85%;
  }
}
@media (max-width:768px)
{
  ul img{
    width:200px;
  }
  nav ul li a {
    font-size: 2vw;
  }
  .wrapper-1{
    width:90%;
  }
  .wrapper-2{
    padding:30px 30px;
    width:90%;
  }
  .wrapper-3{
    width:90%;
  }
  .wrapper-4{
    width:90%;
  }
  .wrapper-5{
    width:90%;
  }
  .wrapper-6{
    width:90%;
  }
  .wrapper-7{
    width:90%;
  }
  .wrapper-8{
    width:90%;
  }
  .wrapper-1 .sub-div h1{
    font-size: 7vw;
  }
  .wrapper-1 .sub-div button{
    font-size: 3.5vw;
  }
  .wrapper-2 h2 {
    font-size: 4vw;
    margin-bottom: 25px;
 }
 .wrapper-2 p{
   font-size: 2.5vw;
 }
 .wrapper-2 button{
   font-size: 2.5vw;
 }
 .sub-div-1{
   padding:30px 30px;
 }
 .sub-div-1 h3 {
    font-size: 2.8vw;
    margin-bottom: 20px;
  }
  .sub-div-1 p {
    font-size: 2vw;
    margin-bottom: 20px;
  }
  .sub-div-1 button{
    font-size: 2vw;
  }
  .social-links li{
    margin-right:20px;
  }
  .sub-div-3.active h4{
    font-size: 3vw;
  }
  .right ul:first-child{
    margin-left:50%;
  }
  .sub-div-3.active ul {
    font-size: 2vw;
  }
  .sub-div-3.active p{
    font-size: 2vw;
  }
}
@media (max-width:540px)
{
  nav{
    padding:8px 0;
  }
  ul img{
    width:120px;
  }
  .wrapper-1 .sub-div h1 {
    font-size: 7vw;
    margin-bottom:15px;
  }
  .wrapper-1 .sub-div{
    width:90%;
    margin:0 5%;
  }
  .wrapper-1 .sub-div button{
    padding:10px;
  }
  .wrapper-1{
    margin:70px auto;
    margin-bottom:30px;
  }
  .wrapper-2{
    margin:20px auto;
    padding:15px;
  }
  .wrapper-2 h2 {
    font-size: 5vw;
    margin-bottom: 10px;
  }
  .wrapper-2 p{
    font-size: 3vw;
    margin-bottom: 15px;
  }
  .wrapper-2 button{
    font-size: 3vw;
  }
  .wrapper-3{
    margin:30px auto;
  }
  .sub-div-1{
    padding:15px;
    width:100%;
    order:2;
  }
  .sub-div-1 h3{
    font-size: 4vw;
    margin-bottom:10px;
  }
  .sub-div-1 p{
    font-size: 3vw;
    margin-bottom:
  }
  .sub-div-1 button{
    font-size: 3vw;
    padding:10px 20px;
  }
  .sub-div-2{
    order:1;
    width:100%;
  }
  .wrapper-4{
    margin:30px auto;
  }
  .wrapper-5{
    margin:30px auto;
  }
  .wrapper-6{
    margin:30px auto;
  }
  .wrapper-7{
    margin:30px auto;
  }
  .wrapper-8{
    margin:30px auto;
  }
  .sub-div-3{
    order:3;
  }
  footer{
    padding:10px;
  }
  footer ul{
    padding-left:0;
  }
  footer h6{
    margin-right:0px;
    font-size: 3.5vw;
  }
  .sub-div-3.active ul{
    font-size: 3vw;
  }
  .sub-div-3.active p{
    font-size: 3vw;
  }
  .sub-div-3.active{
    padding:20px;
  }
  .right ul:first-child{
    margin-left:0;
  }
  .sub-div-3.active h4{
    font-size: 4vw;
  }
}
