.container{
  margin-top:70px;
}
.nav-item{
  font-size: 1.2em;
}
.brand-name{
  font-size: 1.4em;
}
footer{
  margin-top:10px;
  background-color: black;
}
#grid-image img{
  margin-top:10px;
  border:0px;
}
#page2-button{
  margin-right:10px;
}
#page3-button{
  margin-right: 50px;
}
#index-button{
  margin-left: 20px;
}
